{% extends 'AdminDashboard/dashboard.html' %}

{% block contents %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Violation summary</a>
                    </li>
                    <li class="breadcrumb-tem active" aria-current="page">Summary</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <a href="" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>

{% endblock %}