{% extends 'AdminDashboard/dashboard.html' %}
{% load static %}
{% static 'css/main.css' %}
{% block contents %}
<main>
  <div class="content-center">
    <h2 class="mt-4 text-center">Welcome to the Automated Traffic Speed Monitoring</h2>
    <div class="row mt-4">
      <div class="col-1"></div>
      <div class="col-5 me-md-3">
        <img class="img_dash" src="{% static 'img/yourspeed.png' %}" alt="Overspeeding">
      </div>
      <div class="col-5">
        <p>The automated enforcement system is designed to improve public safety by monitoring and enforcing traffic laws. Our system utilizes a range of cutting-edge technologies, including cameras, sensors, and other tools, to identify and record traffic violations. By automating this process, we empower law enforcement agencies to enforce traffic laws more efficiently and effectively.</p>
        <p>The primary objective of our automated enforcement system is to enhance public safety by reducing the number of traffic accidents and fatalities. By enforcing traffic laws more effectively, we aim to deter dangerous driving behaviors that can lead to serious accidents.</p>
      </div>
    </div>
    <div class="row mt-2" style="margin-left: 5%;">
      <div class="col-5 ml-4">
        <p>Traffic speed monitoring systems play a crucial role in identifying drivers who exceed the speed limit. These systems promptly detect speeding violations and alert authorities, enabling them to take necessary measures to prevent accidents. Speeding is a leading cause of traffic accidents, and by actively monitoring and enforcing speed limits, these systems contribute to reducing the number of accidents and ultimately saving lives.</p>
      </div>
      <div class="col-5">
        <img class="img_dash" src="{% static 'img/Fine.png' %}" alt="Overspeeding">
      </div>
    </div>
    <div class="row ml-4" style="margin-left: 5%;">
      <h3 class="mx-auto">Check Your Speed Violation Records</h3>
      <div class="col-7 mt-3">
        <p>
          Navigate through the sidebar on the left to access the necessary information. Stay informed about your driving habits and ensure you comply with the traffic laws to prioritize your safety and the safety of others on the road.
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}

