{% extends 'AdminDashboard/dashboard.html' %}
{% load static %}
{% static 'css/main.css' %}
{% block contents %}

<div class="text-center mt-5">
  <p style="font-size: 18px; font-weight: 500;">
    Please contact your admin through this email <span><a href="mailto:mouddyjm@gmail.com">mouddyjm@gmail.com</a></span> to manually register you.
  </p>
</div>
<a href="{% url 'custome:Homepage' %}" style="text-decoration: none;   color: whitesmoke; font-weight: 500; height: 50px; margin-top: 5px; margin-bottom: 5px;">Back Home</a>

{% endblock contents%}